.speakerCard {
  width: 250px;
  margin: 20px;
  background-color: white;
  border-radius: 12px 93px 12px 12px;
  overflow: hidden;
  word-wrap: break-word;
  color: #1e6131;
  box-shadow: 0px 0px 6px 0px #00000040;
  border-bottom: 5px solid #1e6131;
  transition: transform 0.3s ease-in-out;
}

.speakerCard:hover {
  transform: translateY(-5px);
}

.speakerImage {
  width: auto;
  height: auto;
  display: block;
  filter: grayscale(100%);
  user-select: none;
  -webkit-user-drag: none;
}

.speakerDetails {
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  padding: 20px 10px;
  text-transform: capitalize;
}

.speakerName {
  font-size: 32;
  font-weight: bolder;
}

.speakerTitle {
  font-size: 11;
}
