.objectives {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.objectives > h1 {
  color: rgb(123, 197, 104);
  font-size: 3rem;
  margin: 50px 0;
}
.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main > div {
  min-width: 300px;
  max-width: 350px;
  max-height: fit-content;
  padding: 40px 10px;
  background-color: rgb(52, 137, 72);
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -4px 7px 5px -1px #00000033;
  color: white;
}
.main > div > * {
  margin: 10px 0;
}
.main > div h1 {
  font-size: 1.8rem;
font-weight: bolder;
}
.main > div p {
  font-size: 0.8rem;
  word-spacing: 1.5px;
  letter-spacing: 1px;
  color: #e2e2e2;
}

/* Media Queries */
@media (max-width: 700px) {
  .main {
    width: 100px;
  }
  .main > div h1 {
    font-size: 1.5rem;
  }
  .main > div p {
    font-size: 0.6rem;
  }
}
