.objectives {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.objectives > h1 {
  margin-bottom: 20px;
  color: rgb(123, 197, 104);
}
.main {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main > div {
  width: 250px;
  height: 250px;
  background-color: rgb(52, 137, 72);
  margin: 10px;
}
