.speakers {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
  background-color: rgb(233, 245, 229);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.speakers > h1 {
  margin-bottom: 20px;
  color: rgb(123, 197, 104);
  font-size: 3rem;
  margin: 50px 0;
}
.main {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.keynote,
.speaker {
  margin: 20px 10px;
  min-height: 350px;
  border-radius: 8px;
}
.keynote {
  background-color: rgb(58, 150, 79);
  color: white;
  max-width: 30%;
  padding: 20px 50px;
  margin-right: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
.keynote p,
.speaker p {
  font-size: 0.8rem;
  word-spacing: 1.5px;
  letter-spacing: 1px;
}
.speaker {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: -4px 7px 5px -1px rgba(0, 0, 0, 0.58);
  transition: all 0.3s ease-in-out;
}

.speaker:hover {
  transform: translateY(-5px);
}

.speaker > div > * {
  margin: 10px 0 10px 20px;
}
.spkrImg {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.keynote button {
  background-color: rgb(233, 245, 229);
  padding: 10px;
  border: none;
  border-radius: 6px;
}
.keynote button:hover {
  cursor: pointer;
  background-color: white;
}
/* Media Queries */
@media (max-width: 900px) {
  .keynote,
  .speaker {
    margin: 20px;
  }
  .keynote {
    display: none;
  }
}
