.speakersMain {
  background: #d7eed2;
  padding: 20px;
}

.speakersContainer {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.speakersHeadingPara {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  .speakersMain {
    padding: 10px;
  }
  .speakersHeading {
    font-size: 32px;
    margin: 20px;
  }
  .speakersHeadingPara {
    font-size: 14px;
    padding: 10px 0;
  }
}