html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none;
}
.link {
  color: black;
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cdc9c9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b8484;
}

.headingBg {
  font-weight: 600;
  color: #3a964f;
  text-align: center;
  padding: 20px;
  margin: 60px;
  border-top-right-radius: 90px;
  font-size: 48px;
  font-weight: 600;
  text-transform: capitalize;
}
