.contactContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 50px 0;
  gap: 20px;
  width: 100%;
  height: 100%;
  background-color: #e9f5e5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.formSection {
  width: 70%;
  text-align: left;
  margin: 40px;
}

.formHeading {
  font-size: 32px;
  margin-bottom: 20px;
  color: #349948;
}

.form {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form > .details > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formLabel {
  margin-top: 10px;
  color: #349948;
}

.formInput,
.formTextarea {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #349948;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease-in-out;
}

.formInput:focus,
.formTextarea:focus {
  border-color: #297e3d;
}

.formButton {
  width: 20%;
  background-color: #349948;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.formButton:hover {
  background-color: #297e3d;
}

.contactInfoSection {
  text-align: left;
  background-color: #349948;
  color: white;
  padding: 40px;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.contactInfoSection > div > * {
  margin-bottom: 20px;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  margin-right: 10px;
  font-size: 24px;
  opacity: 0.8;
}

/* Media Queries */
@media (max-width: 768px) {
  .contactContainer {
    flex-direction: column;
  }

  .formSection,
  .contactInfoSection {
    margin-bottom: 20px;
  }
}
