.bg {
  background-color: #e9f5e5;
  padding: 10px 0 50px 0;
}

.registrationSections {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 70px;
}

.registrationSection {
  text-align: center;
  border-radius: 10px;
  color: #349948;
  background-color: white;
  box-shadow: -4px 7px 5px -1px #00000033;
  max-width: 250px;
  border: 10px;
  overflow: hidden;
}

.upper {
  font-size: 24px;
  background-color: #349948;
  color: white;
  margin-bottom: 10px;
  padding: 20px;
}

.lower {
  max-width: 300px;
  background-color: white;
  padding: 20px;
}

.para {
  font-family: Poppins;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.divider {
  height: 2px;
  background-color: #349948;
  margin: 30px 0;
}

.registerButton {
  background-color: #349948;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
}

.registerButton:hover {
  background-color: #297e3d;
}
.buttons {
  width: 100%;
  margin: 50px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons > a {
  padding: 15px 15px;
  margin: 20px 0;
  max-width: 180px;
  text-align: center;
  font-size: 1rem;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: -4px 7px 5px -1px #00000033;
}

/* Media Queries */
@media (max-width: 768px) {
  .registrationSections {
    flex-direction: column;
  }

  .registrationSection {
    margin-bottom: 20px;
  }
}
