.partners {
  width: 100%;
  padding: 50px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.partners > h1 {
  color: rgb(123, 197, 104);
  font-size: 3rem;
  margin: 50px 0;
}
.main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main > * {
  margin: 50px;
}

/* Media Queries */
@media (max-width: 900px) {
  .main {
    width: 100%;
  }
  .partners > h1 {
    font-size: 2.5rem;
  }
}
